
<template>
	<scTable ref="Tablde" :searchConfig="searchConfig" :tableConfig="tableConfig" :ChartConfig="ChartConfig" :chartData="chartData" :tableData="tableData"></scTable>
</template>
<script>
import scTable from '../common/tables';
export default {
	components:{scTable},
    data() {
		return{
			searchConfig:{
				title:"壁纸渠道详细数据",
				tipData:[
					{h1:"展示量",p:"所选日期内，以素材为维度汇总的素材展示次数PV"},
					{h1:"展示用户数",p:"所选日期内，以素材为维度汇总的素材展示用户数UV"},
					{h1:"有效停留",p:"用户每次使用壁纸时停留时长在0s-1h以内属于有效停留"},
					{h1:"有效停留量",p:"所选日期内，以素材为维度汇总的素材有效停留次数PV"},
					{h1:"有效停留用户数",p:"所选日期内，以素材为维度汇总的素材有效停留用户数UV"},
					{h1:"广告展示量",p:"所选日期内，以素材为维度汇总的素材上的广告展示次数PV"},
					{h1:"壁纸点击量",p:"所选日期内，以素材为维度汇总的素材上的全局点击次数PV"},
					{h1:"壁纸点击用户数",p:"所选日期内，以素材为维度汇总的素材上的全局点击用户数UV"},
					{h1:"广告点击量",p:"所选日期内，以素材为维度汇总的素材上的广告点击次数PV"},
					{h1:"广告点击用户数",p:"所选日期内，以素材为维度汇总的素材上的广告点击用户数UV"},
				],
				list:[					
					{title:'日期',type:'times',value:'start_date'},
					{title:'素材ID',type:'text',value:'search'},
					{title:'渠道',type:'select',value:'status',list:[]},
				],
			},
			tableConfig:{
				total:0,
				ischeck:false,
				list:[
					{prop:'email',lable:'日期'},
					{prop:'description',lable:'素材ID',
						temps:[
							{cls:' ',type:'text',value:'查看',fnName:'seeXx'},
								
						]	
					},
					{prop:'email',lable:'渠道'},
					{prop:'company',lable:'展示量'},
					
					{prop:'created_at',lable:'展示用户数'},
					{prop:'login',lable:'有效停留量'},
					{prop:'login',lable:'有效停留用户数'},
					{prop:'login',lable:'广告展示量'},
					{prop:'login',lable:'广告展示用户数'},
					{prop:'login',lable:'壁纸点击量'},
					{prop:'login',lable:'壁纸点击用户数'},
					{prop:'login',lable:'广告点击量'},
					{prop:'login',lable:'广告点击用户数'},
					{prop:'description',lable:'广告详情',
						temps:[
							{cls:' ',type:'text',value:'查看详情',fnName:'seeXx'},
								
						]	
					},
				],
				btns:[
					{fnName:'xzFn',cls:'pldc ',value:'导出数据'},
				],
			},
			
			
			tableData:[],
			ChartConfig:{},
			chartData:{},
		}
	},
	mounted: function () {	
		this.lodingfalse();
	}, 
	methods: {	
		lodingfalse(){
			this.$refs.Tablde.lodingfalse();	
		},

	}
}
</script>

<style>
</style>
